@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Titillium+Web:wght@600&display=swap');

:root {
    --light-background: #ffffff;
    --dark-background: #636363;
    --light-header: #9f41a8;
    --dark-header: #613c65;
    --light-nav: #a5a5a5;
    --dark-nav: #8d8d8d;
    --opposite-light: #1eb31e;
    --opposite-dark: #5d9457;
    --error-red: #d03535;
    --button-light: #e7e7e7;
    --border-radius: 10px;
    --box-shadow: 18px 12px 12px 6px rgba(0, 0, 0, 0.5);

}

*,
*:before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: var(--light-background);
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vw; 
    background: var(--light-header);
    padding: 0rem 5rem 0rem 3rem;
}

/* header title */
.logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    gap: 2rem;
}

.hide { display: none; }

.display { display: block; }

.main-dark {
    background-color: #00000080;
}

nav  {
    display: flex;
    flex-flow: column wrap;
    background: var(--light-nav);
    height: 100vh;
    margin: 0rem;
    padding: 1rem;
    
}

.sidebar {
    width: 25vw;
    height: 100vh;
    padding: 40px 20px 0;
    background-color: var(--light-nav);
    position:absolute;
    overflow: auto;
    -webkit-transition: transform .2s;
    transition: transform .2s;
    z-index: 10;
  }

  .sidebar-show {
      transform: translateX(0);
      -webkit-transform: translateX(0);
  }

  .sidebar-hide {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  .toggle-sidebar {
    display: none !important;
    padding: 4px 6px;
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .sidebar-project-nav {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    padding: 1em;
    gap: 1em;
}

  main {
    margin-top: 60px;
    margin-left: 300px;
    padding: 40px;
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 0;
  }

  .main-mobile {
    margin-left: 0;
  }

.tab {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: 1em;
    gap: 1em;
    height: 3rem;
    width: 100%;
}

.tab:hover,
.tab:active {
    background: #b6b6b6;
    border-radius: var(--border-radius);
}

.sidebar-projects-list {
    padding: 1em;
}

.project-icon-and-text {
    display: flex;
    gap: 2em;
    width: 100%;
}

.task-title {
    margin: 4rem 0rem;
}

/* Pop up modal */
.modal-box { 
    transform: scale(0);
    transition: 0.2s ease-in-out;
    position:fixed;
    margin: -18rem 25rem -25rem 15rem;
    padding: 1.2rem;
    width: 20rem;
    height: 75vh;
    border-radius: var(--border-radius);
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    background: var(--light-background);
    font-size: 1rem;
    font-weight: 900;
}

.head {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

input,
textarea,
select {
    display: grid;
    width: 100%;
    height: 3rem;
    background: rgb(229, 229, 229);
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    padding-left: 1rem;
    border-radius: 0.5rem;
    
    
}

input[type="submit"] {
    width: 100%;
    height: 2.5rem;
    background: var(--opposite-light);
    border: none;
    outline: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1rem;
}

span {
    font-size: 0.8rem;
    font-weight:bolder;
    padding: 20px 0px;
    color: red;
}

.over-lay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;
}

/* icons */
.fa-solid,
.fa-sun,
.fa-moon,
.fa-github {
    font-size: x-large;
}
.fa-circle-plus {
    transition: 1.5s ease;}

a {
    text-decoration: none;
    color: inherit;
}
/* Footer */
footer {
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0; */
    gap: 2rem;
    font-family: inherit;
    
   
    
}

.footer-link {
    font-family: 'Rock Salt', cursive;
    text-decoration: none;
    font-size: 12px;
    color: var(--light-header);
}