@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Titillium+Web:wght@600&display=swap');

:root {
    --light-background: #ffffff;
    --dark-background: #636363;
    --light-header: #9f41a8;
    --dark-header: #613c65;
    --light-nav: #a5a5a5;
    --dark-nav: #8d8d8d;
    --opposite-light: #1eb31e;
    --opposite-dark: #5d9457;
    --error-red: #d03535;
    --button-light: #e7e7e7;
    --border-radius: 10px;
    --box-shadow: 18px 12px 12px 6px rgba(0, 0, 0, 0.5);

}

*,
*:before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: var(--light-background);
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
}

.project-blue { color:blue; }
.project-red { color: red; }
.project-green { color: green; }
.project-yellow { color: yellow}

.hide { display: none; }
.display { display: block; }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vw; 
    background: var(--light-header);
    padding: 0rem 5rem 0rem 3rem;
}

/* header title */
.logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    gap: 2rem;
}

nav  {
    display: flex;
    flex-flow: column wrap;
    background: var(--light-nav);
    height: 100vh;
    margin: 0rem;
    padding: 1rem;    
}
.toggle-sidebar {
    display: none !important;
    padding: 4px 6px;
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    transition: all .2s;
  }

.toggle-sidebar:hover {
    background-color: #d03535;
    transition: all 0.2s;
}

.sidebar {
    width: 25vw;
    height: 100vh;
    padding: 40px 20px 0;
    background-color: var(--light-nav);
    position:absolute;
    overflow: auto;
    transition: transform .2s;
    z-index: 10;
  }

  .sidebar-show {
    transform: translateX(0);
  }

  .sidebar-hide {
    transform: translateX(-500px);
  }

  .sidebar-project-nav {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    padding: 1em;
    gap: 1em;
}

/* main */
  main {
    margin-top: 60px;
    margin-left: 300px;
    padding: 40px;
    transition: all .2s;
    z-index: 0;
  }

  .main-mobile {
    margin-left: 0;
  }

  .main-blur {
      background: #0000004d;
  }

  .todo-header {
    margin-bottom: 40px;
  }
  
  .todo-item-list {
    display: flex;
    flex-direction: column;
  }

.todo-item,
.todo-item-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 60px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  padding: 0 16px;
  cursor: pointer;
}
.todo-item:hover,
.todo-item-add:hover {

}

.todo-item > *:not(:last-child),
.todo-item-add > *:not(:last-child) {
  margin-right: 1em;
}

.todo-item-title {
    flex-grow: 1;
    max-height: 2em;
    overflow: hidden;
    vertical-align: middle;
    white-space: normal;
    text-overflow: ellipsis;
}

.todo-item-title.done {
    text-decoration: line-through;
}

.todo-item-pill {
    font-size: 0.8em;
    padding: 4px 6px;
    border-radius: 15px;
    white-space: nowrap;
}

.todo-item-date {
    background: var(--light-header);
    color: var(--button-light);
}

/* sidebar */
.tab {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: 1em;
    gap: 1em;
    height: 3rem;
    width: 100%;
}

.tab:hover,
.tab:active {
    background: #b6b6b6;
    border-radius: var(--border-radius);
}



.sidebar-projects-list {
    padding: 1em;
}

.project-icon-and-text {
    display: flex;
    gap: 2em;
    width: 100%;
}

.task-title {
    margin: 4rem 0rem;
}

/* Project modal */
.modal-box { 
    display: flex;
    transition: 0.2s ease-in-out;
    position:fixed;
    margin: -20rem 5rem -25rem 30rem;
    padding: 1.2rem;
    width: 20rem;
    height: 75vh;
    border-radius: var(--border-radius);
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    background: var(--light-nav);
    font-size: 1rem;
    font-weight: 900;
}

.modal-header {
    padding: 20px;

}

input,
textarea,
select {
    display: grid;
    width: 100%;
    height: 3rem;
    background: rgb(229, 229, 229);
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    padding-left: 1rem;
    border-radius: 0.5rem;
    
    
}

input[type="submit"] {
    width: 100%;
    height: 2.5rem;
    background: var(--opposite-light);
    border: none;
    outline: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1rem;
}

span {
    font-size: 0.8rem;
    font-weight:bolder;
    padding: 20px 0px;
    color: red;
}

.over-lay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;
}

/* icons */
.fa-solid,
.fa-sun,
.fa-moon,
.fa-github {
    font-size: x-large;
}
.fa-circle-plus {
    transition: 1.5s ease;}

a {
    text-decoration: none;
    color: inherit;
}
/* Footer */
footer {
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0; */
    gap: 2rem;
    font-family: inherit;
}

.footer-link {
    font-family: 'Rock Salt', cursive;
    text-decoration: none;
    font-size: 12px;
    color: var(--light-header);
}

/* Form styling */
#project-form > div:not(:last-child),
#task-form > div:not(:last-child) {
  margin-bottom: 20px;
}

#project-form label,
#task-form label {
  display: inline-block;
  margin-bottom: 6px;
}

#form-project-title,
#form-task-title,
#form-task-priority,
#form-task-schedule,
#form-task-project {
  width: 100%;
  height: 45px;
  padding: 0 12px;
  border: solid 1px rgba(0,0,0,.15);
  border-radius: 8px;
  background-color: var(--white);
  color: var(--grey);
  -webkit-transition: all .2s;
  transition: all .2s;
}

#form-project-title:focus,
#form-task-title:focus,
#form-task-priority:focus,
#form-task-schedule:focus,
#form-task-project:focus {
  border-color: var(--grey);
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#form-task-project:disabled {
  background-color: var(--light-grey);
}

/* Form errors */
.form-error {
  margin: 6px 0 0;
  font-size: 14px;
  color: var(--primary-red);
}

.task-project-error {
  margin-top: -14px;
}

/* Radio buttons styling */

.form-radio > p {
  margin-bottom: 6px;
}

#project-icons,
#project-colors {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(7, -webkit-min-content);
  -ms-grid-columns: -webkit-min-content 10px -webkit-min-content 10px -webkit-min-content 10px -webkit-min-content 10px -webkit-min-content 10px -webkit-min-content 10px -webkit-min-content;
  -ms-grid-columns: min-content 10px min-content 10px min-content 10px min-content 10px min-content 10px min-content 10px min-content;
  grid-template-columns: repeat(7, min-content);
  grid-gap: 10px;
}

.radio {
  font-size: 28px;
  color: var(--grey);
  cursor: pointer;
}

#project-icons input,
#project-colors input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-before input:checked + .radio-control,
#project-icons input:focus + .radio-control,
#project-colors input:focus + .radio-control {
  border: 1px solid var(--grey);
}

.radio-control:hover {
  border: 1px solid var(--grey);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.radio-control {
  display: block;
  padding: 4px 4px 1px;
  border-radius: 8px;
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.modal-sep {
  border-bottom: solid 1px rgba(0,0,0,.15);
  margin: 20px -21px;
}

.modal .button-right {
  text-align: right;
}

/* Buttons styling */
.button {
  border: solid 1px rgba(0,0,0,.15);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  color: var(--white);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.button:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
}

#project-button,
#task-button,
#confirm-button {
  background-color: var(--primary-red);
  margin-left: 20px;
}

#project-button:hover,
#task-button:hover,
#confirm-button:hover {
  background-color: var(--primary-red-hover);
}

.cancel {
  background-color: var(--light-grey);
  color: var(--grey);
}

.cancel:hover {
  border-color: var(--grey);
}

@media (max-width: 960px) {
  .toggle-sidebar {
    display: inline-block !important;
  }
  .todo-item-project-name {
    display: none;
  }
}